<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Voiding Diary Report</title>
</head>

<body>
  <h1>Your Records</h1>
  <%_ for(record of report.getRecords()) { _%>
  <%- formatRecord(record) %>
  <%_ } _%>
</body>

</html>